@charset "UTF-8";
/* line 5, ../../../../../fire.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
}

/* line 22, ../../../../../fire.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
    line-height: 1;
}

/* line 24, ../../../../../fire.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol,
ul {
    list-style: none;
}

/* line 26, ../../../../../fire.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* line 28, ../../../../../fire.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption,
th,
td {
    text-align: left;
    font-weight: normal;
    vertical-align: middle;
}

/* line 30, ../../../../../fire.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q,
blockquote {
    quotes: none;
}
/* line 103, ../../../../../fire.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before,
q:after,
blockquote:before,
blockquote:after {
    content: "";
    content: none;
}

/* line 32, ../../../../../fire.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
    border: none;
}

/* line 116, ../../../../../fire.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
    display: block;
}

/* line 5, ../sass/_extend.scss */
#index #banner .search_box .ico_enter .blind:before,
.resumeInfo #rsu_info .info_box em:before {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
}

@-moz-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-moz-keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
@-webkit-keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
/* line 8, ../sass/module/_layout.scss */
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* line 14, ../sass/module/_layout.scss */
a {
    text-decoration: none;
}

/* line 18, ../sass/module/_layout.scss */
img {
    max-width: 100%;
    height: auto;
    border: none;
}

/* line 24, ../sass/module/_layout.scss */
div {
    word-wrap: break-word;
    word-break: break-all;
}

/* line 29, ../sass/module/_layout.scss */
input:focus,
select:focus {
    outline: none;
}

/* line 34, ../sass/module/_layout.scss */
body {
    margin: 0px !important;
    padding: 0px;
    font: 100%/1.5 "微軟正黑體", sans-serif;
    letter-spacing: 0.25px;
}

/* line 41, ../sass/module/_layout.scss */
#header,
#main,
#footer,
section {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
}

/* line 48, ../sass/module/_layout.scss */
.inner {
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
}
/* line 12, ../../../../../fire.app/lib/ruby/compass_extensions/susy-2.1.3/sass/susy/output/support/_clearfix.scss */
.inner:after {
    content: " ";
    display: block;
    clear: both;
}

/* line 53, ../sass/module/_layout.scss */
#header {
    position: relative;
    margin-top: 90px;
}
@media (min-width: 1024px) {
    /* line 53, ../sass/module/_layout.scss */
    #header {
        margin-top: 0;
    }
}

/* line 62, ../sass/module/_layout.scss */
#header_logo {
    width: auto;
    left: 50%;
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
}
/* line 79, ../sass/module/_layout.scss */
#header_logo a {
    display: block;
    line-height: 0;
}
/* line 84, ../sass/module/_layout.scss */
#header_logo img {
    height: 70px;
}

@media (min-width: 1024px) {
    /* line 62, ../sass/module/_layout.scss */
    #header_logo {
        padding: 25px 0 15px 0;
        text-align: center;
        left: auto;
        -moz-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
        position: relative;
        top: auto;
        width: 100%;
        float: left;
        margin-left: 0;
        margin-right: 0;
    }
    #header_logo img {
        height: 100px;
    }
}


/* line 93, ../sass/module/_layout.scss */
#header_nav {
    -moz-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    float: left;
    left: 50%;
    position: relative;
}

/* line 101, ../sass/module/_layout.scss */
#footer {
    text-align: center;
    color: #808080;
    padding: 15px;
    font-size: 16px;
    line-height: 24px;
}
@media (min-width: 1024px) {
    /* line 101, ../sass/module/_layout.scss */
    #footer {
        font-size: 17px;
        line-height: 30px;
        padding: 20px 0;
    }
}
/* line 114, ../sass/module/_layout.scss */
#footer p {
    word-break: normal;
}

/* line 121, ../sass/module/_layout.scss */
#index #header {
    background: url(../images/bg_01.png) bottom center no-repeat;
    background-size: cover;
    padding: 0 0 60px 0;
}
@media (min-width: 640px) {
    /* line 121, ../sass/module/_layout.scss */
    #index #header {
        padding: 0 0 40px 0;
    }
}
@media (min-width: 1024px) {
    /* line 121, ../sass/module/_layout.scss */
    #index #header {
        padding: 0 0 100px 0;
    }
}
@media (min-width: 1024px) {
    /* line 135, ../sass/module/_layout.scss */
    #index #header_nav {
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        border-radius: 10px;
        -moz-box-shadow: 3px 3px 5px rgba(188, 130, 66, 0.5);
        -webkit-box-shadow: 3px 3px 5px rgba(188, 130, 66, 0.5);
        box-shadow: 3px 3px 5px rgba(188, 130, 66, 0.5);
        background: #f7931e;
        padding: 10px;
        margin: 0 0 30px 0;
    }
}
/* line 144, ../sass/module/_layout.scss */
#index #header_nav #menu ul.menu li a {
    color: #ffffff;
}
/* line 149, ../sass/module/_layout.scss */
#index #banner {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
    padding: 15px;
}
@media (min-width: 640px) {
    /* line 149, ../sass/module/_layout.scss */
    #index #banner {
        padding: 30px;
    }
}
@media (min-width: 1024px) {
    /* line 149, ../sass/module/_layout.scss */
    #index #banner {
        padding: 0;
    }
}
/* line 161, ../sass/module/_layout.scss */
#index #banner .img {
    float: left;
    width: 100%;
    line-height: 0;
    margin: 0 0 15px 0;
    text-align: center;
}
@media (min-width: 480px) {
    /* line 161, ../sass/module/_layout.scss */
    #index #banner .img {
        width: 50%;
        padding: 0 30px 0 0;
        margin: 0;
        text-align: left;
    }
}
@media (min-width: 1024px) {
    /* line 161, ../sass/module/_layout.scss */
    #index #banner .img {
        padding: 0 60px 0 0;
    }
}
/* line 179, ../sass/module/_layout.scss */
#index #banner .img img {
    width: 60%;
}
@media (min-width: 480px) {
    /* line 179, ../sass/module/_layout.scss */
    #index #banner .img img {
        width: auto;
    }
}
/* line 188, ../sass/module/_layout.scss */
#index #banner .info {
    float: left;
    width: 100%;
    padding: 0;
    text-align: center;
}
@media (min-width: 480px) {
    /* line 188, ../sass/module/_layout.scss */
    #index #banner .info {
        float: right;
        width: 50%;
        text-align: left;
    }
}
@media (min-width: 1024px) {
    /* line 188, ../sass/module/_layout.scss */
    #index #banner .info {
        padding: 0 0 0 40px;
    }
}
/* line 204, ../sass/module/_layout.scss */
#index #banner .info .txt {
    font-size: 16px;
    line-height: 22px;
    font-weight: normal;
    color: #333;
    padding: 0 0 10px 0;
}
@media (min-width: 480px) {
    /* line 204, ../sass/module/_layout.scss */
    #index #banner .info .txt {
        padding: 0 0 30px 0;
        font-size: 18px;
        line-height: 26px;
        color: #666666;
        font-weight: bold;
    }
}
@media (min-width: 768px) {
    /* line 204, ../sass/module/_layout.scss */
    #index #banner .info .txt {
        padding: 75px 0 40px 0;
    }
}
/* line 225, ../sass/module/_layout.scss */
#index #banner .info h2 {
    color: #2f6358;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    margin: 0 0 15px 0;
}
@media (min-width: 480px) {
    /* line 225, ../sass/module/_layout.scss */
    #index #banner .info h2 {
        margin: 0 0 25px 0;
        font-size: 28px;
        line-height: 34px;
    }
}
/* line 241, ../sass/module/_layout.scss */
#index #banner .search_box .srch_input {
    border: none;
    border-bottom: #e8eada solid 1px;
    background: transparent;
    color: #fff;
    font-family: "微軟正黑體";
    font-size: 17px;
    padding: 10px 0;
}
@media (min-width: 640px) {
    /* line 241, ../sass/module/_layout.scss */
    #index #banner .search_box .srch_input {
        width: 250px;
    }
}
@media (max-width: 640px){
    #index #banner .search_box .srch_input {
        display:block;
        width: 80%;
        margin:auto;
        margin-bottom: 10px;
    }
    #index #banner .search_box{
        text-align: center;
    }
}
/* line 256, ../sass/module/_layout.scss */
#index #banner .search_box .ico_enter {
    border: none;
    background: none;
    position: relative;
    outline: none;
    vertical-align: middle;
    padding: 0;
}
/* line 264, ../sass/module/_layout.scss */
#index #banner .search_box .ico_enter .blind {
    font-size: 0;
    display: block;
    cursor: pointer;
}
/* line 269, ../sass/module/_layout.scss */
#index #banner .search_box .ico_enter .blind:before {
    content: "\f002";
    font-size: 25px;
    color: #e8eada;
}
/* line 278, ../sass/module/_layout.scss */
#index #banner .search_box ::-webkit-input-placeholder {
    color: #ffffff;
}
/* line 282, ../sass/module/_layout.scss */
#index #banner .search_box :-moz-placeholder {
    color: #ffffff;
}
/* line 286, ../sass/module/_layout.scss */
#index #banner .search_box ::-moz-placeholder {
    color: #ffffff;
}
/* line 290, ../sass/module/_layout.scss */
#index #banner .search_box :-ms-input-placeholder {
    color: #ffffff;
}
/* line 296, ../sass/module/_layout.scss */
#index #main {
    background: url(../images/bg_02.svg) bottom center no-repeat;
    background-size: contain;
    padding: 20px 15px;
}
@media (min-width: 1024px) {
    /* line 296, ../sass/module/_layout.scss */
    #index #main {
        padding: 0 0 70px 0;
    }
}
/* line 306, ../sass/module/_layout.scss */
#index #footer {
    background: #2f6358;
    color: #ffffff;
}
/* line 312, ../sass/module/_layout.scss */
#index section .tit {
    text-align: center;
    color: #2f6358;
    font-weight: bold;
    letter-spacing: 3px;
    font-size: 28px;
}
@media (min-width: 1024px) {
    /* line 312, ../sass/module/_layout.scss */
    #index section .tit {
        font-size: 32px;
    }
}

/* line 327, ../sass/module/_layout.scss */
#about {
    padding: 0 0 30px 0;
}
@media (min-width: 1024px) {
    /* line 327, ../sass/module/_layout.scss */
    #about {
        padding: 30px 0 60px 0;
    }
}
/* line 334, ../sass/module/_layout.scss */
#about .tit {
    margin: 0 0 20px 0;
}
@media (min-width: 1024px) {
    /* line 334, ../sass/module/_layout.scss */
    #about .tit {
        margin: 0 0 30px 0;
    }
}
/* line 341, ../sass/module/_layout.scss */
#about .tit span {
    position: relative;
}
/* line 344, ../sass/module/_layout.scss */
#about .tit span:after {
    content: "";
    display: inline-block;
    background: url(../images/icon_arrow.svg) 0 0 no-repeat;
    position: absolute;
    right: 5px;
    top: 0;
    z-index: -1;
    background-size: 144px 45px;
    width: 144px;
    height: 45px;
}
@media (min-width: 1024px) {
    /* line 344, ../sass/module/_layout.scss */
    #about .tit span:after {
        background-size: 154px 55px;
        width: 154px;
        height: 55px;
    }
}
/* line 365, ../sass/module/_layout.scss */
#about .con {
    color: #666666;
    word-break: normal;
    font-size: 16px;
    line-height: 24px;
}
@media (min-width: 1024px) {
    /* line 365, ../sass/module/_layout.scss */
    #about .con {
        font-size: 18px;
        line-height: 34px;
    }
}
/* line 377, ../sass/module/_layout.scss */
#about h4 {
    text-align: center;
    color: #66a371;
    line-height: 24px;
    margin: 0 0 15px 0;
}
@media (min-width: 1024px) {
    /* line 377, ../sass/module/_layout.scss */
    #about h4 {
        line-height: 30px;
        margin: 0 0 30px 0;
    }
}

/* line 391, ../sass/module/_layout.scss */
#core {
    padding: 0 0 60px 0;
}
@media (min-width: 1024px) {
    /* line 391, ../sass/module/_layout.scss */
    #core {
        padding: 0;
    }
}
/* line 398, ../sass/module/_layout.scss */
#core .tit {
    margin: 0 0 25px 0;
}
@media (min-width: 1024px) {
    /* line 398, ../sass/module/_layout.scss */
    #core .tit {
        margin: 0 0 50px 0;
    }
}
/* line 406, ../sass/module/_layout.scss */
#core .con {
    float: left;
    width: 100%;
}
/* line 410, ../sass/module/_layout.scss */
#core .con ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between;
}
/* line 415, ../sass/module/_layout.scss */
#core .con ul li {
    width: calc((100% / 2) - 10px);
    padding: 0;
    margin: 0 0 25px 0;
}
@media (min-width: 640px) {
    /* line 415, ../sass/module/_layout.scss */
    #core .con ul li {
        width: calc((100% / 4) - 10px);
        margin: 0 0 40px 0;
    }
}
/* line 426, ../sass/module/_layout.scss */
#core .con ul a {
    display: block;
    position: relative;
    text-align: center;
}
/* line 432, ../sass/module/_layout.scss */
#core .con ul .img {
    display: inline-block;
    background: #2f6358;
    line-height: 0;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    width: 130px;
    height: 130px;
    position: relative;
    -moz-box-shadow: 2px 3px 6px rgba(72, 89, 76, 0.6);
    -webkit-box-shadow: 2px 3px 6px rgba(72, 89, 76, 0.6);
    box-shadow: 2px 3px 6px rgba(72, 89, 76, 0.6);
}
@media (min-width: 1024px) {
    /* line 432, ../sass/module/_layout.scss */
    #core .con ul .img {
        width: 150px;
        height: 150px;
    }
}
/* line 447, ../sass/module/_layout.scss */
#core .con ul .img img {
    height: 60px;
    left: 50%;
    top: 50%;
    position: absolute;
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
@media (min-width: 1024px) {
    /* line 455, ../sass/module/_layout.scss */
    #core .con ul .img:before {
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgba(47, 99, 88, 0.8);
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        z-index: 10;
        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
        opacity: 0;
        -moz-transition: opacity 350ms cubic-bezier(0.165, 0.84, 0.44, 1);
        -o-transition: opacity 350ms cubic-bezier(0.165, 0.84, 0.44, 1);
        -webkit-transition: opacity 350ms cubic-bezier(0.165, 0.84, 0.44, 1);
        transition: opacity 350ms cubic-bezier(0.165, 0.84, 0.44, 1);
    }
}
/* line 471, ../sass/module/_layout.scss */
#core .con ul .txt {
    display: block;
    font-size: 18px;
    line-height: 24px;
    font-weight: bold;
    z-index: 100;
    color: #594a42;
    padding: 5px 0;
}
@media (min-width: 1024px) {
    /* line 471, ../sass/module/_layout.scss */
    #core .con ul .txt {
        left: 50%;
        top: 50%;
        position: absolute;
        color: #ffffff;
        -moz-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        padding: 15px;
        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
        opacity: 0;
        -moz-transition: opacity 350ms cubic-bezier(0.165, 0.84, 0.44, 1);
        -o-transition: opacity 350ms cubic-bezier(0.165, 0.84, 0.44, 1);
        -webkit-transition: opacity 350ms cubic-bezier(0.165, 0.84, 0.44, 1);
        transition: opacity 350ms cubic-bezier(0.165, 0.84, 0.44, 1);
        width: 150px;
        letter-spacing: 2px;
        font-size: 20px;
        line-height: 26px;
    }
}
/* line 500, ../sass/module/_layout.scss */
#core .con ul a:hover .img:before {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
}
/* line 505, ../sass/module/_layout.scss */
#core .con ul a:hover .txt {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
}

/* line 516, ../sass/module/_layout.scss */
.resumeInq:after {
    content: "";
    display: block;
    width: 100%;
    height: 430px;
    background: url(../images/bg_01.png) bottom center no-repeat;
    background-size: cover;
    position: absolute;
    z-index: -1;
}
@media (min-width: 768px) {
    /* line 516, ../sass/module/_layout.scss */
    .resumeInq:after {
        height: 480px;
    }
}
@media (min-width: 1024px) {
    /* line 516, ../sass/module/_layout.scss */
    .resumeInq:after {
        height: 600px;
    }
}
/* line 535, ../sass/module/_layout.scss */
.resumeInq #main {
    padding: 30px 15px 0 15px;
    margin: 0 0 40px 0;
}
@media (min-width: 1024px) {
    /* line 535, ../sass/module/_layout.scss */
    .resumeInq #main {
        margin: 0 0 75px 0;
        padding: 0;
    }
}

/* line 546, ../sass/module/_layout.scss */
#rsu_inquire {
    text-align: center;
}
@media (min-width: 1024px) {
    /* line 546, ../sass/module/_layout.scss */
    #rsu_inquire {
        padding: 20px 0 0 0;
    }
}
/* line 553, ../sass/module/_layout.scss */
#rsu_inquire .tit {
    position: relative;
    z-index: 10;
}
/* line 557, ../sass/module/_layout.scss */
#rsu_inquire .tit h1 {
    -moz-transform: skewX(-35deg);
    -o-transform: skewX(-35deg);
    -ms-transform: skewX(-35deg);
    -webkit-transform: skewX(-35deg);
    transform: skewX(-35deg);
    -moz-border-radius: 5px 20px;
    -webkit-border-radius: 5px;
    border-radius: 5px 20px;
    background: #f7931e;
    display: inline-block;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 5px;
    padding: 10px 35px;
}
@media (min-width: 640px) {
    /* line 557, ../sass/module/_layout.scss */
    #rsu_inquire .tit h1 {
        letter-spacing: 10px;
        padding: 15px 60px;
    }
}
/* line 574, ../sass/module/_layout.scss */
#rsu_inquire .tit span {
    -moz-transform: skewX(35deg);
    -o-transform: skewX(35deg);
    -ms-transform: skewX(35deg);
    -webkit-transform: skewX(35deg);
    transform: skewX(35deg);
    display: inline-block;
}
/* line 580, ../sass/module/_layout.scss */
#rsu_inquire .con {
    background: #f2f2f2;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    border-radius: 30px;
    padding: 50px 0;
    width: 90%;
    position: relative;
    margin: -20px auto 0 auto;
    display: inline-block;
    -moz-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}
@media (min-width: 768px) {
    /* line 580, ../sass/module/_layout.scss */
    #rsu_inquire .con {
        width: 60%;
        padding: 12% 10% 30px 10%;
    }
}
/* line 595, ../sass/module/_layout.scss */
#rsu_inquire .con form {
    text-align: left;
    padding: 0 10%;
}
/* line 599, ../sass/module/_layout.scss */
#rsu_inquire .con form .form_group {
    margin: 0 0 25px 0;
}
/* line 603, ../sass/module/_layout.scss */
#rsu_inquire .con form label {
    display: block;
    font-size: 18px;
    font-weight: bold;
    padding: 5px 0;
}
/* line 610, ../sass/module/_layout.scss */
#rsu_inquire .con form select {
    width: 100%;
    border: #ccc solid 1px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    padding: 10px;
    background: #f2f2f2;
    cursor: pointer;
}
/* line 619, ../sass/module/_layout.scss */
#rsu_inquire .con form .form_btn {
    text-align: center;
    padding: 20% 0 0 0;
}
/* line 623, ../sass/module/_layout.scss */
#rsu_inquire .con form .form_btn button {
    border: none;
    font-family: "微軟正黑體";
    color: #333;
    font-size: 16px;
    letter-spacing: 5px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    padding: 10px 60px;
    cursor: pointer;
}
/* line 634, ../sass/module/_layout.scss */
#rsu_inquire .con form .form_btn div {
    margin: 0 0 25px 0;
}
/* line 639, ../sass/module/_layout.scss */
#rsu_inquire .con form .form_btn .submit_btn button {
    background: #fbb03b;
}
#rsu_inquire .con form .form_btn .submit_btn button:disabled {
    opacity: 0.65;
    cursor: not-allowed;
}
/* line 642, ../sass/module/_layout.scss */
#rsu_inquire .con form .form_btn .submit_btn button:hover {
    background: #f7931e;
    color: #ffffff;
}
/* line 650, ../sass/module/_layout.scss */
#rsu_inquire .con form .form_btn .reset_btn button {
    background: transparent;
    border: #fbb03b solid 1px;
}
/* line 654, ../sass/module/_layout.scss */
#rsu_inquire .con form .form_btn .reset_btn button:hover {
    border: #f7931e solid 1px;
    color: #f7931e;
}

/* line 667, ../sass/module/_layout.scss */
.resumeInfo #header {
    margin-bottom: 0;
}
@media (min-width: 1024px) {
    /* line 667, ../sass/module/_layout.scss */
    .resumeInfo #header {
        margin-bottom: 30px;
    }
}
/* line 675, ../sass/module/_layout.scss */
.resumeInfo #banner {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
    position: relative;
    line-height: 0;
}
/* line 680, ../sass/module/_layout.scss */
.resumeInfo #banner img {
    width: 100%;
}
/* line 684, ../sass/module/_layout.scss */
.resumeInfo #banner .txt {
    color: #2f6358;
    position: absolute;
    font-weight: bold;
    left: 50%;
    top: 50%;
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 20px;
    letter-spacing: 1px;
}
@media (min-width: 480px) {
    /* line 684, ../sass/module/_layout.scss */
    .resumeInfo #banner .txt {
        font-size: 26px;
    }
}
@media (min-width: 768px) {
    /* line 684, ../sass/module/_layout.scss */
    .resumeInfo #banner .txt {
        font-size: 32px;
        letter-spacing: 25px;
    }
}
/* line 705, ../sass/module/_layout.scss */
.resumeInfo #main {
    background: #efede4;
    padding: 20px 15px;
}
@media (min-width: 1024px) {
    /* line 705, ../sass/module/_layout.scss */
    .resumeInfo #main {
        padding: 20px;
    }
}
/* line 714, ../sass/module/_layout.scss */
.resumeInfo #rsu_info {
    padding: 0;
}
@media (min-width: 1024px) {
    /* line 714, ../sass/module/_layout.scss */
    .resumeInfo #rsu_info {
        padding: 35px 0 0 0;
    }
}
/* line 721, ../sass/module/_layout.scss */
.resumeInfo #rsu_info .info_box {
    border: #8bbeb3 solid 1px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    margin: 0 auto;
    width: 100%;
    padding: 15px 10px;
}
@media (min-width: 1024px) {
    /* line 721, ../sass/module/_layout.scss */
    .resumeInfo #rsu_info .info_box {
        padding: 20px 25px;
        width: 65%;
    }
}
/* line 733, ../sass/module/_layout.scss */
.resumeInfo #rsu_info .info_box p {
    color: #333333;
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
}
@media (min-width: 640px) {
    /* line 733, ../sass/module/_layout.scss */
    .resumeInfo #rsu_info .info_box p {
        font-size: 18px;
        line-height: 30px;
        letter-spacing: 5px;
    }
}
/* line 747, ../sass/module/_layout.scss */
.resumeInfo #rsu_info .info_box span {
    display: inline-block;
    width: 100%;
    text-align: left;
}
@media (min-width: 640px) {
    /* line 747, ../sass/module/_layout.scss */
    .resumeInfo #rsu_info .info_box span {
        width: 190px;
        text-align: right;
    }
}
/* line 758, ../sass/module/_layout.scss */
.resumeInfo #rsu_info .info_box em {
    color: #4d4d4d;
    font-weight: normal;
    letter-spacing: 1px;
    display: inline-block;
    width: 100%;
    margin: 0 0 5px 0;
}
@media (min-width: 640px) {
    /* line 758, ../sass/module/_layout.scss */
    .resumeInfo #rsu_info .info_box em {
        width: calc(100% - 190px);
        margin: 0;
        letter-spacing: 3px;
    }
}
/* line 772, ../sass/module/_layout.scss */
.resumeInfo #rsu_info .info_box em:before {
    content: "\f0da";
    color: #fbb03b;
    font-size: 15px;
    margin: 4px 5px 0 2px;
    float: left;
}
@media (min-width: 640px) {
    /* line 772, ../sass/module/_layout.scss */
    .resumeInfo #rsu_info .info_box em:before {
        margin: 4px 10px 0 10px;
    }
}
/* line 788, ../sass/module/_layout.scss */
.resumeInfo #search {
    padding: 35px 0 25px 0;
    text-align: center;
}
@media (min-width: 640px) {
    /* line 788, ../sass/module/_layout.scss */
    .resumeInfo #search {
        padding: 60px 20px 50px 20px;
        display: inline-block;
        width: 50%;
    }
}
/* line 797, ../sass/module/_layout.scss */
.resumeInfo #search .search_box .dateStyle {
    border: #f7931e solid 1px;
    border-radius: 6px;
    background: transparent;
    color: #333333;
    font-family: "微軟正黑體";
    font-size: 17px;
    padding: 8px;
    width: auto;
}
@media (min-width: 640px) {
    /* line 797, ../sass/module/_layout.scss */
    .resumeInfo #search .search_box .dateStyle {
        width: 250px;
    }
}
/* line 812, ../sass/module/_layout.scss */
.resumeInfo #search .search_box .ico_enter {
    position: relative;
    outline: none;
    padding: 9px 25px;
    border: none;
    border-radius: 6px;
    font-family: "微軟正黑體";
    font-size: 17px;
    background: #f7931e;
    color: #ffffff;
    margin: 0 0 0 3px;
}
/* line 824, ../sass/module/_layout.scss */
.resumeInfo #search .search_box .ico_enter .blind {
    display: block;
    cursor: pointer;
}
/* line 833, ../sass/module/_layout.scss */
.resumeInfo #verification {
    margin: 50px auto 0px;
    height: 205px;
    overflow-y: scroll;
    padding: 0 15px 0 0;
}
@media (min-width: 640px) {
    /* line 833, ../sass/module/_layout.scss */
    .resumeInfo #verification {
        height: 425px;
        padding: 0 20px 0 0;
        width: 50%;
        margin-top: 60px;
        display: inline-block;
    }
}
/* line 843, ../sass/module/_layout.scss */
.resumeInfo #verification .vfc_box {
    background: #ffffff;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    padding: 20px 25px;
    margin: 0 0 25px 0;
    position: relative;
    display: block;
}
/* line 851, ../sass/module/_layout.scss */
.resumeInfo #verification .vfc_box .close {
    position: absolute;
    right: 13px;
    top: 15px;
    cursor: pointer;
    text-align: center;
}
/* line 858, ../sass/module/_layout.scss */
.resumeInfo #verification .vfc_box .close span {
    color: #666666;
    font-size: 27px;
    font-weight: bold;
    font-family: Arial;
    display: block;
    line-height: 20px;
}
/* line 868, ../sass/module/_layout.scss */
.resumeInfo #verification .vfc_box .date {
    display: inline-block;
    color: #f7931e;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 3px;
    font-family: Arial;
}
/* line 877, ../sass/module/_layout.scss */
.resumeInfo #verification .vfc_box .vfc_btn {
    display: inline-block;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    color: #ffffff;
    font-size: 14px;
    letter-spacing: 5px;
    padding: 3px 15px;
    margin: 0 0 0 15px;
    background: #959595;
    min-width: 87px;
    vertical-align: bottom;
}
/* line 887, ../sass/module/_layout.scss */
.resumeInfo #verification .vfc_box .vfc_btn.no {
    background: #c1272d;
}
/* line 891, ../sass/module/_layout.scss */
.resumeInfo #verification .vfc_box .vfc_btn.ok {
    background: #22b573;
}
/* line 895, ../sass/module/_layout.scss */
.resumeInfo #verification .vfc_box .vfc_txt {
    font-size: 17px;
    line-height: 30px;
    letter-spacing: 2px;
    padding: 10px 0 0 0;
}
/* line 904, ../sass/module/_layout.scss */
.resumeInfo #verification::-webkit-scrollbar {
    width: 10px;
    background-color: #d2d2d2;
    border-radius: 10px;
}
/* line 910, ../sass/module/_layout.scss */
.resumeInfo #verification::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.3);
    background-color: #959595;
}
/* line 916, ../sass/module/_layout.scss */
.resumeInfo #verification::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #d2d2d2;
}
/* line 922, ../sass/module/_layout.scss */
.resumeInfo .back_btn {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
    padding: 15px 0;
}
@media (min-width: 1024px) {
    /* line 922, ../sass/module/_layout.scss */
    .resumeInfo .back_btn {
        padding: 50px 0;
    }
}
/* line 931, ../sass/module/_layout.scss */
.resumeInfo .back_btn a {
    display: inline-block;
    color: #666666;
    font-size: 18px;
    letter-spacing: 10px;
    border: #fbb03b solid 1px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    padding: 10px 50px 10px 60px;
}
/* line 940, ../sass/module/_layout.scss */
.resumeInfo .back_btn a:hover {
    background: #fbb03b;
    color: #ffffff;
}

/* line 3, ../sass/module/_menu.scss */
a.bars_close {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: #000000;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
    opacity: 0.3;
    z-index: 10;
    top: 0;
    right: 0;
}
@media (min-width: 1024px) {
    /* line 3, ../sass/module/_menu.scss */
    a.bars_close {
        display: none;
    }
}

/* line 18, ../sass/module/_menu.scss */
#navbar_top {
    background: #f7931e;
    width: 100%;
    position: fixed;
    z-index: 100000;
    height: 90px;
    top: 0;
}
@media (min-width: 1024px) {
    /* line 18, ../sass/module/_menu.scss */
    #navbar_top {
        display: none;
    }
}

/* line 31, ../sass/module/_menu.scss */
#pageslide {
    display: none;
    position: absolute;
    position: fixed;
    top: 0;
    height: 100%;
    z-index: 99999;
    width: 260px;
    padding: 20px 0;
}
@media (min-width: 1024px) {
    /* line 31, ../sass/module/_menu.scss */
    #pageslide {
        display: none !important;
    }
}

/* line 47, ../sass/module/_menu.scss */
#rwd_nav {
    width: 30px;
    margin: 0;
    padding-top: 0;
    position: absolute;
    right: 15px;
    top: 34px;
}
/* line 55, ../sass/module/_menu.scss */
#rwd_nav .ico {
    width: 100%;
    height: 18px;
    position: relative;
    padding-top: 11px;
}
/* line 61, ../sass/module/_menu.scss */
#rwd_nav .ico span {
    width: 100%;
    height: 2px;
    position: absolute;
    background: #ffffff;
    display: block;
    transition: all 0.4s cubic-bezier(0.19, 1, 0.22, 1) 0s;
}
/* line 69, ../sass/module/_menu.scss */
#rwd_nav .ico span:before,
#rwd_nav .ico span:after {
    content: "";
    left: 0;
    top: -9px;
    width: 100%;
    height: 2px;
    position: absolute;
    background: #ffffff;
    display: block;
    transition: all 0.4s cubic-bezier(0.19, 1, 0.22, 1) 0s;
}
/* line 82, ../sass/module/_menu.scss */
#rwd_nav .ico span:after {
    top: 9px;
}
@media (min-width: 1024px) {
    /* line 47, ../sass/module/_menu.scss */
    #rwd_nav {
        display: none;
    }
}

/* line 95, ../sass/module/_menu.scss */
.active .ico span {
    background: transparent !important;
}
/* line 98, ../sass/module/_menu.scss */
.active .ico span:before {
    top: 0 !important;
    height: 2px;
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
/* line 104, ../sass/module/_menu.scss */
.active .ico span:after {
    top: 0 !important;
    height: 2px;
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

/* line 113, ../sass/module/_menu.scss */
#m_nav {
    width: 100%;
    display: none;
    position: absolute;
    top: 90px;
    height: 100%;
    background: #ffffff;
    z-index: 9999;
    overflow-y: auto;
    -moz-box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.5);
}
@media (min-width: 1024px) {
    /* line 113, ../sass/module/_menu.scss */
    #m_nav {
        position: relative;
        float: right;
        width: auto;
        display: block;
        height: auto;
        top: auto;
        background: none;
        overflow: visible;
        overflow-y: initial;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        box-shadow: none;
        z-index: 0;
    }
}
/* line 139, ../sass/module/_menu.scss */
#m_nav::-webkit-scrollbar-track {
    /*-webkit-box-shadow: inset 0 0 6px rgba(3, 3, 3, 0.3);*/
    background-color: none;
}
/* line 144, ../sass/module/_menu.scss */
#m_nav::-webkit-scrollbar {
    width: 5px;
    background-color: none;
    border-radius: 10px;
}
/* line 150, ../sass/module/_menu.scss */
#m_nav::-webkit-scrollbar-thumb {
    background-color: #605c2b;
}

/* line 155, ../sass/module/_menu.scss */
#menu {
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 100;
    width: 100%;
    background: #fff;
    height: 100%;
    text-align: center;
}
/* line 12, ../../../../../fire.app/lib/ruby/compass_extensions/susy-2.1.3/sass/susy/output/support/_clearfix.scss */
#menu:after {
    content: " ";
    display: block;
    clear: both;
}
@media (min-width: 1024px) {
    /* line 155, ../sass/module/_menu.scss */
    #menu {
        background: transparent;
        height: auto;
    }
}
/* line 168, ../sass/module/_menu.scss */
#menu ul,
#menu li {
    list-style: none;
    margin: 0;
    padding: 0;
}
/* line 176, ../sass/module/_menu.scss */
#menu ul.menu li {
    list-style: none;
    position: relative;
    float: left;
    width: 100%;
    border-bottom: #eee solid 1px;
}
@media (min-width: 1024px) {
    /* line 176, ../sass/module/_menu.scss */
    #menu ul.menu li {
        display: inline-block;
        margin: 0 20px;
        float: none;
        width: auto;
        border-bottom: none;
    }
}
/* line 191, ../sass/module/_menu.scss */
#menu ul.menu li a {
    display: block;
    font-size: 18px;
    letter-spacing: 0.25px;
    color: #4d4d4d;
    position: relative;
    padding: 15px;
    text-align: center;
}
@media (min-width: 1024px) {
    /* line 191, ../sass/module/_menu.scss */
    #menu ul.menu li a {
        padding: 0;
        text-align: left;
    }
}
/* line 205, ../sass/module/_menu.scss */
#menu ul.menu li a:hover {
    background: #fafafa;
}
@media (min-width: 1024px) {
    /* line 205, ../sass/module/_menu.scss */
    #menu ul.menu li a:hover {
        text-decoration: underline;
        background: transparent;
    }
}

#m_nav .menu li.active a {
    color: #2f6358;
    font-weight: 600;
}
div.zabuto_calendar .table tr th,
div.zabuto_calendar .table tr td,
div.zabuto_calendar .table tr td div.day,
div.zabuto_calendar .table tr td.event div.day,
div.zabuto_calendar ul.legend li.event,
div.zabuto_calendar .badge-event, div.zabuto_calendar div.legend span.badge-event {
    background: #f0f0f0;
}

div.zabuto_calendar .table tr.calendar-month-header td{
    background: white;
}

div.zabuto_calendar .badge-event, 
div.zabuto_calendar div.legend span.badge-event{
    /* background: inherit; */
    color: inherit;
}

div.zabuto_calendar .calendar-month-header,
div.zabuto_calendar th,
div.zabuto_calendar td {
    border: 2px solid white;
}

div.zabuto_calendar td.event div.day{
  border: 2px solid #fbb03b;
}
div.zabuto_calendar .calendar-month-header {
    font-size: 20px;
}

div.zabuto_calendar tr.calendar-dow-header th:nth-child(6),
div.zabuto_calendar tr.calendar-dow-header th:nth-child(7) {
    background: #fbb03b;
    color: white;
}

div.zabuto_calendar .table tr td.active div.day,
div.zabuto_calendar .table tr td.active div.day span.badge
{
   background: #fbb03b;
   color: white;
}
.resumeInfo #verification .vfc_btn_wrapper{
    vertical-align: middle;
} 
/* vfc_btn spinner animation*/
.lds-ring {
    width: 1.5em;
    height: 1.5em;
    margin: auto;
}
.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 15px;
    height: 15px;
    margin: 2px;
    border: 3px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}
@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
/* language toggle button*/
.switch {
    position: relative;
    display: inline-block;
    width: 90px;
    height: 34px;
    margin-top: 15px;
  }
  
  .switch input {display:none;}
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #f7931e;
    -webkit-transition: .4s;
    transition: .4s;
     border-radius: 34px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
  }
  
  input:checked + .slider {
    background-color: #f7931e;
  }
  
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(55px);
  }
  
  /*------ ADDED CSS ---------*/
  .slider:after
  {
   content:'中';
   color: white;
   display: block;
   position: absolute;
   transform: translate(-50%,-50%);
   top: 50%;
   left: 50%;
   font-size: 10px;
   font-family: Verdana, sans-serif;
  }
  
  input:checked + .slider:after
  {  
    content:'EN';
  }

@media (min-width: 1024px){
    .switch{
        position: absolute;
        top: -120px;
        right: 0px;
        z-index: 9999;
    }
}